<%= link_to('Home', '/') %>

<a href='/text'>Text</a>
<%= link_to('Text', text_path) %>

<%= button_to('Submit to me', '/test') %>

<%=  %> - shift, cntrl .

<p></p> - 'p' tab

<div></div>

<div class="border"></div>

<nav>
  <ul>
    <li><a href=""></a></lix3>
  </ul>
</nav>

nav>ul>li*3>a then tab
<nav>
  <ul>
    <li><a href=""></a></li>
    <li><a href=""></a></li>
    <li><a href=""></a></li>
  </ul></nav>

  option command . - to close open tags

